body {
  /* margin: 20px;
  padding: 10px;   */
  /* background-image: url(https://i.redd.it/kq8mzkvpkjy51.png); */
  font-family: Arial, sans-serif;
}

nav {
  background-color: #888585;
  margin-bottom: 10px;
}

.navbar-brand {
  font: 2rem;
}

.pokemon-list {
  padding: none;
  list-style-type: none;
  display: flex; 
  flex-wrap: wrap;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  text-align: center;
  justify-content: center;
}

.list-group-item{
  display: inline-block;
  padding: 0;
  border: none;
}
.list-group-item:hover {
  background-color: #fff;
}

.list-group-item img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-right: 10px;
}

.modal-content {
  background-color: #fff;
}

.modal-title {
  font-size: 20pt;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-height {
  font-size: 30px;
  margin-top: 20px;
}

.pokemon-image {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
}
h3{

  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #e71a1a, #d47221);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn{
  background-color: #ddd;
  background-image: -moz-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) );
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from( rgba(255, 255, 255, 0.5 ) ), to( rgba(255, 255, 255, 0.0 ) ) );
  background-image: -o-linear-gradient( -90deg, rgba(255, 255, 255, 0.5 ) , rgba(255, 255, 255, 0.0 ) ); 
  padding: 5px 8px;
  color: #222;
  font-weight: bold;
  border: 2px solid white;
  border-radius:7px;
  text-shadow: 1px 1px 0px white;
  -moz-box-shadow: 0 1px 3px #333;
  -webkit-box-shadow: 0 1px 3px #333;
  box-shadow: 0 1px 3px #333;
  width: 275px;
  }